<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

  
    <title>The End of Motherhood? | Print Article | Newsweek.com</title>
    <link rel="canonical" href="http://www.newsweek.com/id/47915">
    <link rel="stylesheet" type="text/css" href="print_files/printArticle.css">
    <link rel="stylesheet" type="text/css" href="print_files/style.css">
    
    <script language="javascript" type="text/javascript">
			var commercialNode = "printthis";
		</script>
    <script language="javascript" type="text/javascript" src="print_files/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="print_files/swfobject-mod.js"></script>
    <script language="javascript" type="text/javascript" src="print_files/bcFullscreenPlayer.js"></script>
    <script language="javascript1.1" type="text/javascript" src="print_files/wpni_generic_ad.js"></script>
    <script language="javascript1.1" type="text/javascript" src="print_files/nw_ad_v4.js"></script>
    <script language="javascript" type="text/javascript">
				var ad_content_type = "";
				</script>
  <script charset="utf-8" id="injection_graph_func" src="print_files/injection_graph_func.js"></script></head><body>
    <div id="print-page">
      <div id="container">
        <a >
          <img id="logo" src="print_files/newsweek-print-logo.png" alt="Newsweek">
        </a>
        <a id="print-this" class="no-print">Print This</a>
        <div class="article-header">
          <h2></h2>
          <h1>The End of Motherhood?</h1>
          <div class="deck">But somehow the United States better mixes child rearing and the job market than do other advanced societies.</div>
          <div class="article-details">
            <p class="byline">
              <span>NEWSWEEK&nbsp;
                </span>
            </p>
            <p class="de-em">
            </p><p class="de-em">From the magazine issue dated May 29, 2006</p>
          </div>
        </div>
        <div class="article-body">
          <p>Russian
president Vladimir Putin has inadvertently spotlighted one of today's
momentous mysteries: collapsing birthrates in industrialized countries.
Putin proposed that Russia pay women to have children to remedy a
"critical" population outlook. Actually, he might have said
"desperate." In 2000, Russia's population totaled almost 147 million;</p>
          <p>Putin
says it's declining by 700,000 a year. With plausible assumptions, the
U.S. Census Bureau projects it at 111 million in 2050. The median age
(half the population above, half below) would be almost 50, up from 38
now. Could this Russia maintain a strong economy, national optimism or
a capable military?</p>
          <div class="homepageFlexAdOuter">
            <!--AD BEGIN--><div class="ad">
<div class="mediumRectangle"><script language="javascript" type="text/javascript">
placeAd2(commercialNode,'bigbox',false,'')
</script><script language="JavaScript1.1" src="print_files/nwswk.js"></script></div></div><!--AD END-->
          </div>
          <p>Russia's
case, though extreme, isn't isolated. There's no more population
"explosion." In wealthier countries, motherhood is going out of style
and plunging birthrates portend population loss. This is a hugely
significant development, even if we don't fully understand the
causes--experts didn't predict it--or consequences. One way or another,
the side effects will be massive for economics, politics and people's
well being. Indeed, they may already have started. Is it a coincidence
that Germany and Italy, two countries on the edge of population
decline, are so troubled?</p>
          <p>First, some facts. On
average, women must have two children for a society to replace itself.
The actual number of children per woman is called the "total fertility
rate," or TFR. Here are the 2005 TFRs for some major countries:
Germany, 1.4; Greece, 1.3; Italy, 1.3; Japan, 1.4; Poland, 1.2; and
Russia, 1.3. Low fertility rates don't instantly lead to population
declines. They can be offset by immigration, longer life expectancies
and greater numbers of young mothers. But ultimately, low fertility
rates suggest falling populations (table).</p>
          <p>"The
forthcoming and dramatic depopulation of Europe and Japan will cause
many problems," writes Ben Wattenberg in "Fewer," his excellent book on
the subject. "Populations will age, the customer base [for businesses]
will shrink, there will be labor shortages, the tax base will decline,
pensions will be cut, retirement ages will increase." All plausible. In
2000, one in six people in Germany and Japan were 65 or older; by 2050,
the projections are for one in three. Of course, projections go wrong.
But they could as easily underpredict population loss as overpredict.</p>
          <p>Up
to a point, we understand plunging fertility rates. The usual suspects:
improved incomes; health and life expectancies (as more children
survive, parents have fewer babies); growing urbanization (families
need fewer children to work the fields); women's access to education
and jobs; contraception; later and fewer marriages; more divorces. But
our understanding is only partial, because there's one big exception to
low fertility rates: the United States.</p>
          <p>American
fertility is roughly at the replacement rate, 2.1 children per woman.
Nor does the U.S. rate merely reflect, as some think, a higher rate
among Hispanic Americans. The fertility rate is 1.9 for non-Hispanic
whites and about 2 for African-Americans, reports demographer Nicholas
Eberstadt of the American Enterprise Institute. What explains the
American exception? Eberstadt cites three differences with Europe and
most other advanced countries: greater optimism, greater patriotism and
stronger religious values. There's some supporting evidence. A survey
by the National Opinion Research Center at the University of Chicago
asked respondents in 33 countries to react to this statement: "I would
rather be a citizen of [my country] than of any other." Among
Americans, 75 percent "strongly" agreed; among Germans, the French and
Spanish, comparable responses were 21 percent, 34 percent and 21
percent, respectively.</p>
          <p>Children are now usually a
conscious choice--whereas they were once considered economic
necessities or religious obligations. Somehow our society better mixes
child rearing and jobs than other societies that provide greater child
subsidies (government day care, family allowances). Indeed, generous
welfare states may discourage having children. A study by economists at
the University of Minnesota found that high Social Security payments
and payroll taxes are associated with low fertility rates. People may
feel they don't need children to care for them in old age. Or high
taxes and poor economies may deter young people from starting families.</p>
          <p>No
one knows. But by not having children, people are voting against the
future--their countries' and, perhaps, their own. It is easy to imagine
the sacrifices and disappointments of raising children. It is hard, try
as people might, to imagine the intense joys and selfish pleasures.
People ignore Adam Smith's keen insight: "[The] chief part of human
happiness arises from the consciousness of being beloved."</p>
          <!-- Omniture -->
          <script language="javascript" type="text/javascript">
		<!--
		
			var nw_page_name = "nw - article - 47915 - The End of Motherhood?";
			var nw_section = "tech and business";
			var nw_subsection = "tech and business - newsweek - robert j. samuelson";
			var nw_content_type = "article";
			var nw_source = "newsweek mag";
			var nw_search_result_count = "0";
			var nw_content_id = "47915";
			var nw_headline = "The End of Motherhood?";
			var nw_page_num = "print format";
			var nw_application = "gutenberg";
			var nw_hierarchy = "tech and business|newsweek - robert j. samuelson|articles";
			var nw_pub_date = "Tuesday October 16, 2007";
		-->
		</script>
		<div class="article-footer"><p>
              Find this article at
              <a class="article-link" "">http://www.newsweek.com/id/47915</a></p><p>© 2006&nbsp;</p></div></div>
      </div>
    </div>
		<script language="javascript" type="text/javascript" src="print_files/nw_omniture.js"></script>
		</body></html>